/* RESET */
body, h1, h2, h3, p {
  color: #5a5a5a;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0; }

/* STYLE */
body {
  padding-bottom: 80px; }

h1, h2 {
  width: 100%;
  max-width: 1000px;
  color: #5a5a5a;
  font-weight: normal;
  margin: 40px auto 0; }

div {
  width: 100%;
  max-width: 1000px;
  margin: 24px auto 0; }

div.canvas {
  width: 100%;
  max-width: 100%; }

canvas {
  background-color: #efefef;
  margin-top: 8px; }

p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 2; }

p + p {
  margin-top: 16px; }
